@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body,
input[type="date"] {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
}

p, h1, h3{
	text-align: center;
	font-weight: bold;
}


form {
	background-color: #df5fae;
	margin: 14px auto;
	padding: 25px;
	max-width: 720px;
	border-radius: 10px;
}

fieldset {
	border: none;
}

legend {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;

}

label {
	display: block;
	margin-bottom: 5px;
}

label[for="name"],
label[for="email"],
label[for="password"],
label[for="radio-yes"],
label[for="radio-no"],
label[for="radio-maybe"] {
	display: inline;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"],
textarea,
select {

	box-shadow: inset 6px 6px 6px #42bec4, inset 6px 6px 6px #42bec4;
	
	color: rgb(132, 217, 232);
	border: none;
	border-radius: 20px;
	margin: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 30px;

}

input::placeholder{
	color: gray;
}

input:focus,
textarea:focus,
select:focus {
	outline: 3px solid rgba(26, 156, 188, 0.4);
}

input[type="text"],
input[type="email"] {
	width: 49%;
}

select {
	height: 35px;
}

span {
	display: inline-block;
	background-color: #1a9cbc;
	color: #fff;
	height: 30px;
	width: 30px;
	font-size: 0.8em;
	margin-right: 5px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px 15px 15px 0px;
}

input[type="radio"] {
	margin-bottom: 25px;
	outline: none;
}

input[type="checkbox"] {
	outline: none;
}

input[type="submit"] {
	background-color: #1a9cbc;
	color: #99deeb;
	padding: 15px 25px;
	border-radius: 25px;
	font-size: 18px;
	text-align: center;
	width: 100%;
	margin-bottom: 25px;

}

input[type="submit"]:hover {
	background-color: #7fdee9;
	cursor: pointer;
}


body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #86dff3;
	font-family: 'Muli',sans-serif;

}


.parent{
	margin-top: 25px;
	box-shadow: 14px 14px 20px #73e1e2, -14px -14px 20px rgb(91, 203, 205);
	border-radius: 10px;
	max-width: max-content;
	height: 893.22px;

}


.predict-button {
	background-color: #4CAF50;
	color: rgb(178, 235, 22);
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.predict-button:hover {
	background-color: #45a049;
}


.predict-button:hover {
	transform: scale(1.05);
	background-color: #2511e0;
	color: #fff;
	box-shadow: 0px 0px 10px #4804db;
}

.footer {
	background-color: #1e0dda;
	color: white;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	width: 100%;
	border-radius: 10px;
	position: sticky;
}
.header {
	background-color: #2f06d0;
	color: white;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	position: sticky;
	top: 0;
	border-radius: 20px;
}

.prediction_text{
	background-color: #0c1ccf;
	padding: 15px;
	width: 28%;
	border-radius: 10px;
	box-shadow: 14px 14px 20px #97b1cb, -14px -14px 20px white;

}
.prediction_text p{
	margin-top: -5px;
	font-size: 14px;
}

